PORT=3000
WHATSAPP_VERIFY_TOKEN=botao-verify-token
TIMEZONE=America/Sao_Paulo
PERSISTENCE_PROVIDER=in_memory
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_PREDICTIONS_RANGE=Palpites!A:G
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
